.tic-tac-toe-grid {
  display: inline-flex;
  flex-wrap: wrap;
  width: 318px;
  height: 318px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 370px) {
  .tic-tac-toe-grid {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (max-width: 179px) {
  .tic-tac-toe-grid {
    width: 168px;
    height: 168px;
  }
}