.tic-tac-toe-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

hr {
  color: black;
  background-color: black;
  height: 0.1rem;
  width: 100%;
  margin-bottom: 0;
}