@import "../common/utilities/_variables.scss";

.tic-tac-toe-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}

.tic-tac-toe-container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 2rem;

  background: $title-fallback-background;
  background: $title-background1;
  background: $title-background2;
}

.tic-tac-toe-container-game-board {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  background: $tic-tac-toe-container-game-board-fallback-background;
  background: $tic-tac-toe-container-game-board-background1;
  background: $tic-tac-toe-container-game-board-background2;
}

.tic-tac-toe-container-game-status {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;


  font-family: Comic Sans MS, cursive, sans-serif;
  font-size: 34px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  color: white;

  background: $tic-tac-toe-container-game-status-background;
}

hr {
  color: black;
  background-color: black;
  height: 0.2rem;
  width: 100%;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border-width: 0;
}