@import "../../../../common/utilities/_variables.scss";

.tic-tac-toe-tile {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: double green;
  line-height: 100px;
  color: white;

  background: $tile-fallback-background;
  background: $tile-background1;
  background: $tile-background2;
}

